body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #0d4a80;
    color: white;
    width: 100%;
    height: 80px;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
<<<<<<< HEAD
    padding: 20px 50px;
=======
    padding: 15px 50px;
>>>>>>> boubba
}

.logo {
    width: 40px;
    margin-left: 10px;
    border-radius: 50%;
}

.search {
<<<<<<< HEAD
    width: 50%;
    padding: 10px;
=======
    width: 20%;
    padding: 6px 10px;
>>>>>>> boubba
    border: none;
    border-radius: 20px;
}

.nav-icons a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    position: relative;
}

.nav-icons .cart-count {
    background: #fff;
    color: #0d4a80;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    position: absolute;
    top: -10px;
    right: -10px;
}

/* Ajout des styles de survol pour la barre de navigation */
.nav-icons a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    position: relative;
}

/* Changement de couleur au survol */
.nav-icons a:hover {
    color: #4a90e2; /* Bleu clair */
}

/* Ajout de transition pour la couleur du texte */
.nav-icons a {
    transition: color 0.3s;
}

.leagues {
    display: flex;
    justify-content: center;
}

.league {
    position: relative;
    width: 100%;
    padding: 20px 10px;
    text-align: center;
    cursor: pointer;
    color: #0d4a80;
    font-weight: bold;
    background-color: #dfe5e8;
    text-decoration: none;
}

.league:hover {
    background-color: white;
}

.teams {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.league:hover .teams {
    display: block;
}

.teams p {
    margin: 0;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Ajout de la transition pour la couleur de fond et la couleur du texte */
}

.teams p:hover {
    background-color: #0d4a80; /* Changement de couleur de fond au survol */
    color: white; /* Changement de couleur du texte au survol */
}


.league-link {
    display: inline-block;
    position: relative;
    color: #0d4a80;
    text-decoration: none;
    transition: color 0.3s ease;
}

.league-link:hover {
    color: #1192e8; /* Changement de couleur au survol */
}

.league-link::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #1192e8; /* Ligne bleue sous le lien */
    transform: scaleX(0); /* Ligne initialement invisible */
    transition: transform 0.3s ease;
}

.league-link:hover::before {
    transform: scaleX(1); /* Affiche la ligne bleue au survol */
}

.products-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
    background-color: #f8f9fa;
}

.product {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    margin: 10px;
    background-color: transparent;
    color: #0d4a80;
    text-align: center;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    width: 100%;
    height: auto;
}

.product-info {
    padding: 10px;
    text-align: center;
}

.product-info p {
    margin: 5px 0;
}

footer {
    background-color: #0d4a80;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;
    margin: auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 20px 0;
}

.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #1192e8;
}

.footer-bottom p {
    margin: 0;
}
