body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004AAD;
    padding: 10px 20px;
}


header {
    background-color: #004AAD;
    color: white;
    width: 100%;
}


.logo {
    width: 40px;
    margin-left: 10px;
    width: 200px;
    margin-left: 10%;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.search-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.search-bar {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #ccc;
}



.leagues {
    display: flex;
    justify-content: center;
}

.league {
    position: relative;
    width: 100%;
    padding:20px 10px;
    text-align: center;
    cursor: pointer;
    color: #0d4a80;
    font-weight: bold;
    background-color: #dfe5e8;
    text-decoration: none;
}

.league:hover{
    background-color: white;
}

.teams {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.league:hover .teams {
    display: block;
}

.teams p {
    margin: 0;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Ajout de la transition pour la couleur de fond et la couleur du texte */
}

.teams p:hover {
    background-color: #0d4a80; /* Changement de couleur de fond au survol */
    color: white; /* Changement de couleur du texte au survol */
}

.league-link {
    display: inline-block;
    position: relative;
    color: #0d4a80;
    text-decoration: none;
    transition: color 0.3s ease;
}

.league-link:hover {
    color: #1192e8; /* Changement de couleur au survol */
}

.league-link::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 1000%;
    height: 2px;
    background-color: #1192e8; /* Ligne bleue sous le lien */
    transform: scaleX(0); /* Ligne initialement invisible */
    transition: transform 0.3s ease;
}

.league-link:hover::before {
    transform: scaleX(1); /* Affiche la ligne bleue au survol */
}
/* Vos styles CSS existants ici */

.carousel-image {
    width: auto; /* Utiliser la taille d'origine de l'image */
    max-width: 100%; /* Limiter la largeur maximale à 100% de la largeur du conteneur */
    height: auto; /* Permettre à la hauteur de s'ajuster automatiquement pour conserver les proportions */
}


.carousel-image {
    max-width: 100%; /* Limiter la largeur maximale à 100% de la largeur du conteneur */
    max-height: 50%; /* Définir une hauteur maimale pour les images */
    width: auto; /* Utiliser la taille d'origine de l'image */
    height: auto; /* Permettre à la hauteur de s'ajuster automatiquement pour conserver les proportions */
}


.carousel-image {
    width: 100%; /* Toutes les images auront la même largeur */
    height: auto; /* Hauteur automatique pour conserver les proportions */
}

/* Styles pour les boutons précédent/suivant */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.info-section {
    padding: 20px;
    text-align: center;
    background-color: white;
}

.info-section h1 {
    margin: 0;
    font-size: 24px;
    color: #000;
}

.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.feature {
    display: flex;
    align-items: center;
    margin: 10px;
    text-align: left;
}

.feature img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.feature p {
    margin: 0;
    font-size: 14px;
    color: #333;
}
.feature p a {
    text-decoration: none; /* Supprime le soulignement */
    color: inherit; /* Garde la couleur par défaut du lien */
}

/* Style pour la section Top Ventes */

.products-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
    background-color: #f8f9fa;
}

.product {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    margin: 10px;
    background-color: transparent;
    color: #0d4a80;
    text-align: center;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    width: 100%;
    height: auto;
}

.product-info {
    padding: 10px;
    text-align: center;
}

.product-info p {
    margin: 5px 0;
}

.favoris i {
    color: #000000; /* Couleur par défaut: noir */
    font-size: 16px; /* Taille ajustée, réduisez cette valeur selon votre besoin */
    transition: color 0.3s; /* Transition douce pour le changement de couleur */
}

.favoris.active i {
    color: #e84545; /* Rouge vif lorsque sélectionné */
}

.favoris:hover i {
    color: #e84545; /* Rouge vif au survol pour indiquer l'interactivité */
}

/* Styles spécifiques à la section "À propos de nous" */
.about-us {
    padding: 40px;
    text-align: center;
}

.about-content {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    align-items: center;
}

.about-content:nth-child(even) {
    flex-direction: row-reverse; /* Inverse la direction des éléments pour les sections paires */
}

.about-text {
    flex: 1;
    padding: 20px;
    text-align: left;
}
h1 {
    font-size: 30px;
    color: #0d4a80;
}
.about-text h3 {
    font-size: 24px;
        color: #0d4a80;


}

.about-text p {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
}

.about-image {
    flex: 1;
    padding: 0 20px; /* Ajoute une marge autour de l'image */
}

.about-image img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.about-image img:hover {
    transform: scale(1.05);
}

footer {
    background-color: #004AAD;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;
    margin: auto;
    padding: 20px 20px 0; /* Légèrement ajusté le padding */
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 20px 0;
}

.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section p {
    margin-bottom: 5px;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #1192e8;
}

.footer-bottom p {
    margin: 0;
}

