body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #0d4a80;
    color: white;
    width: 100%;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
}

.logo {
    width: 80px;
    margin-left: 10px;
    border-radius: 50%;
}

.search-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.search-bar {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.les3 {
    margin-right: 30px;
}

.nav-icons a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    position: relative;
}

.nav-icons .cart-count {
    background: #fff;
    color: #0d4a80;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    position: absolute;
    top: -10px;
    right: -10px;
}

/* Ajout des styles de survol pour la barre de navigation */
.nav-icons a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    position: relative;
}

/* Changement de couleur au survol */
.nav-icons a:hover {
    color: #4a90e2; /* Bleu clair */
}

/* Ajout de transition pour la couleur du texte */
.nav-icons a {
    transition: color 0.3s;
}



.leagues {
    display: flex;
    justify-content: center;
}

.league {
    position: relative;
    width: 100%;
    padding:20px 10px;
    text-align: center;
    cursor: pointer;
    color: #0d4a80;
    font-weight: bold;
    background-color: #dfe5e8;
    text-decoration: none;
}

.league:hover{
	background-color: white;
}

.teams {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.league:hover .teams {
    display: block;
}

.teams p {
    margin: 0;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Ajout de la transition pour la couleur de fond et la couleur du texte */
}

.teams p:hover {
    background-color: #0d4a80; /* Changement de couleur de fond au survol */
    color: white; /* Changement de couleur du texte au survol */
}

.league-link {
    display: inline-block;
    position: relative;
    color: #0d4a80;
    text-decoration: none;
    transition: color 0.3s ease;
}

.league-link:hover {
    color: #1192e8; /* Changement de couleur au survol */
}

.league-link::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #1192e8; /* Ligne bleue sous le lien */
    transform: scaleX(0); /* Ligne initialement invisible */
    transition: transform 0.3s ease;
}

.league-link:hover::before {
    transform: scaleX(1); /* Affiche la ligne bleue au survol */
}
.image-slider {
    width: 100%;
    height: 300px; /* Ajustez la hauteur selon vos besoins */
    overflow: hidden;
    position: relative;
}

.slide-track {
    display: flex;
    animation: scroll 20s linear infinite;
    width: calc(180px * 6); /* Ajustez la largeur en fonction du nombre d'images et de leur largeur */
}

.slide {
    width: 180px; /* Ajustez la largeur en fonction de la largeur de vos images */
    height: 300px; /* Ajustez la hauteur en fonction de la hauteur de vos images */
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide img {
    max-width: 100%;
    max-height: 100%;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-180px * 3)); /* Ajustez la valeur en fonction du nombre d'images */
    }
}

/* Styles spécifiques à la section "À propos de nous" */
.about-us {
    background-color: #f9f9f9;
    padding: 40px 0;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.about-text {
    flex: 0 0 60%;
    padding: 0 20px;
}

.about-text p {
    margin-bottom: 20px;
}

.about-image {
    flex: 0 0 35%;
    text-align: center;
}

.about-image img {
    max-width: 100%;
    height: auto;
}

/* Media query pour les petits écrans */
@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
    }

    .about-text,
    .about-image {
        flex: 0 0 100%;
        text-align: center;
    }
}
footer {
    background-color: #0d4a80;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;
    margin: auto;
    padding: 20px 20px 0; /* Légèrement ajusté le padding */
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 20px 0;
}

.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section p {
    margin-bottom: 5px;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #1192e8;
}

.footer-bottom p {
    margin: 0;
}

