body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #0d4a80;
    color: white;
    width: 100%;
    height: 80px;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
}

.logo {
    width: 40px;
    margin-left: 10px;
    border-radius: 50%;
}

.search {
    width: 20%;
    padding: 6px 10px;
    border: none;
    border-radius: 20px;
}

.les3 {
    margin-right: 30px;
}

.nav-icons a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    position: relative;
}

.nav-icons .cart-count {
    background: #fff;
    color: #0d4a80;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    position: absolute;
    top: -10px;
    right: -10px;
}



.leagues {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

.league {
    position: relative;
    width: 100%;
    padding:20px 10px;
    text-align: center;
    cursor: pointer;
    color: #0d4a80;
    font-weight: bold;
    background-color: #dfe5e8;
    text-decoration: none;
}

.league:hover{
	background-color: white;
}

.teams {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.league:hover .teams {
    display: block;
}

.teams p {
    margin: 0;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.teams p:last-child {
    border-bottom: none;
}

.image-slider {
    width: 100%;
    height: 300px; /* Ajustez la hauteur selon vos besoins */
    overflow: hidden;
    position: relative;
}

.slide-track {
    display: flex;
    animation: scroll 20s linear infinite;
    width: calc(180px * 6); /* Ajustez la largeur en fonction du nombre d'images et de leur largeur */
}

.slide {
    width: 100%; /* Ajustez la largeur en fonction de la largeur de vos images */
    height: 300px; /* Ajustez la hauteur en fonction de la hauteur de vos images */
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide img {
    height: 100%;
    padding-bottom: 50px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-180px * 3)); /* Ajustez la valeur en fonction du nombre d'images */
    }
}


footer {
    background-color: #0d4a80;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;
    margin: auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 20px 0;
}

.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #1192e8;
}

.footer-bottom p {
    margin: ;
}

.mail{
    border: none;
    border-radius: 20px;
    padding: 8px; 
}

.submit {
    border: none;
    border-radius: 20px;
    padding: 8px;
}
