/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    flex: 1;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003366;
    padding: 10px 20px;
}

.logo {
    color: white;
    font-size: 24px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.search-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.search-bar {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.leagues {
    display: flex;
    justify-content: center;
}

.league {
    position: relative;
    width: 100%;
    padding: 20px 10px;
    text-align: center;
    cursor: pointer;
    color: #0d4a80;
    font-weight: bold;
    background-color: #dfe5e8;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.league:hover {
    background-color: white;
}

.teams {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.league:hover .teams {
    display: block;
}

.teams p {
    margin: 0;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.teams p:hover {
    background-color: #0d4a80;
    color: white;
}

.league-link {
    display: inline-block;
    position: relative;
    color: #0d4a80;
    text-decoration: none;
    transition: color 0.3s ease;
}

.league-link:hover {
    color: #1192e8;
}

.league-link::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #1192e8;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.league-link:hover::before {
    transform: scaleX(1);
}

main {
    padding: 20px;
    flex: 1;
}

.cart-container {
    display: flex;
    justify-content: space-between;
}

.cart-item {
    display: flex;
    align-items: center;
}

.cart-item img {
    margin-right: 20px;
}

.cart-item-details {
    flex-grow: 1;
}

.cart-item-quantity {
    margin-right: 20px;
}

.cart-item-price {
    font-size: 18px;
    font-weight: bold;
}

.cart-summary {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    background-color: #e1e8ed; /* Ajout de la couleur de fond pour la section de résumé du panier */
}

.checkout-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Ajout de la transition de couleur de fond */
}

.checkout-button:hover {
    background-color: #0056b3; /* Changement de couleur de fond au survol */
}

footer {
    background-color: #0d4a80;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;
    margin: auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 20px 0;
}

.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #1192e8;
}

.footer-bottom p {
    margin: 0;
}

.mail {
    border: none;
    border-radius: 20px;
    padding: 8px;
}

.submit {
    border: none;
    border-radius: 20px;
    padding: 8px;
}
